@model IEnumerable<DbMetadata.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h4>Documents</h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.File.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ModifiedTime)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Data)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.File.ModifiedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.File.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.File.ModifiedTime)
            </td>
            <td>
                <a asp-controller="Documents" asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                <a asp-controller="Documents" asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-controller="Documents" asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
