@model IEnumerable<PDM.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h4>Organizations</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.HasClaim(c => c.Type == "Organization" + item.OrganizationId && c.Value == "Creator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.OrganizationId"> Edit </a> @:|
                    }
                    <a asp-action="Details" asp-route-id="@item.OrganizationId">Details</a>
                    @if (User.HasClaim(c => c.Type == "Organization" + item.OrganizationId && c.Value == "Creator"))
                    {
                        @:|
                        <a asp-action="Delete" asp-route-id="@item.OrganizationId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
