@model DbMetadata.Models.Organization

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    <a asp-controller="Departments" asp-action="Create" asp-route-id="@Model.OrganizationId">Create New Department</a>
</p>
@{Html.RenderPartial("../Departments/Index", Model.Departments); }
<p>
    <a asp-controller="OrganizationProperties" asp-action="Create" asp-route-id="@Model.OrganizationId">Create New Property</a>
</p>
@{Html.RenderPartial("../OrganizationProperties/Index", Model.Properties); }
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrganizationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
