@model PDM.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.File.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Data)
        </dt>
        <dd>
            <a asp-action="Download" asp-route-id="@Model.File.DocumentFileId">Download</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.ModifiedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.ModifiedTime)
        </dd>
    </dl>
    @*@if (Model.File.PrevVersion != null)
    {
        <a asp-action="Details" asp-route-id="@Model.File.PrevVersion.">Previous version</a>
    }*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
