@model IEnumerable<DbMetadata.Models.Metadata.OrganizationProperty>

@{
    ViewData["Title"] = "Index";
}

<h4>Organization Properties</h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerOrganization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerOrganization.OrganizationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-controller="OrganizationProperties" asp-action="Edit" asp-route-id="@item.OrganizationPropertyId">Edit</a> |
                <a asp-controller="OrganizationProperties" asp-action="Details" asp-route-id="@item.OrganizationPropertyId">Details</a> |
                <a asp-controller="OrganizationProperties" asp-action="Delete" asp-route-id="@item.OrganizationPropertyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
